# Python junk
__pycache__/
*.pyc

# Jupyter junk
.ipynb_checkpoints/

# Virtual environment
uidai/
.env

# Ignore ONLY raw UIDAI data (sensitive & large)
data/raw/

# Ignore large generated outputs (optional)
outputs/dashboard_data/predictions.csv
outputs/dashboard_data/actions.csv
